<!DOCTYPE html>
<html>
  <head>
    <title>BlackJack21</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="game-container">
      <h1 class="pt-1">Black Jack 21</h1>

      <div id="top-info" class="row">
        <div id="balance-display" class="col">
          <div>Balance $:</div>
          <div id="balance">1000</div>
        </div>
        <div id="bet-display" class="col">
          <div>Current Bet $:</div>
          <div id="current-bet">10</div>
        </div>
      </div>

      <div id="dealer-area" class="card-row">
        <div id="dealer-head">
          <img src="/static/img/dealer.png" />
        </div>
      </div>

      <div id="cards_table">
        <h3 id="dealer">Dealer</h3>
        <div id="dealer-cards"></div>
        <h3 id="player">Player</h3>
        <div id="player-hands-container"></div>
      </div>

      <div id="player-area">
        <div id="controls">
          <div class="bet-buttons">
            <button
              type="button"
              class="btn btn-outline-warning bet-chip mx-3"
              data-value="10"
            >
              10
            </button>
            <button
              type="button"
              class="btn btn-outline-warning bet-chip mx-3"
              data-value="50"
            >
              50
            </button>
            <button
              type="button"
              class="btn btn-outline-warning bet-chip mx-3"
              data-value="100"
            >
              100
            </button>
            <button
              type="button"
              class="btn btn-outline-warning bet-chip mx-3"
              data-value="500"
            >
              500
            </button>
            <button
              type="button"
              class="btn btn-outline-danger mx-3"
              id="reset-bet"
            >
              Reset
            </button>
          </div>

          <div class="d-flex justify-content-center align-items-center gap-3">
            <input
              type="number"
              id="bet-input"
              value="10"
              min="10"
              class="form-control"
            />

            <button id="deal-btn" class="btn btn-success"></button>
            <button id="hit-btn" class="btn btn-primary" disabled></button>
            <button id="stand-btn" class="btn btn-secondary" disabled></button>
            <button id="split-btn" class="btn btn-info" disabled></button>
            <button id="double-btn" class="btn btn-warning"></button>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
